* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.main-page {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 1.8rem;
}

.info-text {
  font-size: 1.2rem;
  color: rgb(120, 120, 120);
}

.nav-bar {
  display: flex;
  flex-direction: column;
}

.main-block {
  margin: 10px 0;
  border: 1px solid #ddd;
  min-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -3px #696969;
  background: #fff;
}
form .field-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}
.form .field, .main-block .field {
  padding: 5px;
}
.form .field p {
  text-align: center;
}
.form .field, .main-block .field {
  border-bottom: 1px solid #ddd;
}

.form .field input[type="text"],form .field select, .form textarea, .form .field input[type="email"], .form .field input[name="phone"]{
  padding: 7px 0px;
  border-radius: 3px;
  border: 1px solid #b6b6b6;
  background:#efefef;
  width: 70%;
}
.form textarea {
  padding: 0;
  font-size: 1rem;
}
.checkbox-box {
  display: flex;
  align-items: center;
}

.checkbox-box label{
  margin-right: 10px;
}

.form .field input[type="checkbox"],form .field input[type="radio"]{
  margin-right: 5px;
}

.form .field select {
  width: 70%;
}

.form textarea {
  resize: none;
  height: 50px;
  outline: none;
}

.main-block button {
  background-color: rgba(54, 54, 54, 0.72);
  border: none;
  width: 25%;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.button-field {
  display: flex;
  justify-content: space-between;
}

label, button, option, input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}
.button-field button{
  width: 100%;
}
button {
  height: 35px;
  transition: all .2s ease;
}

button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

table {
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  color: black;
  width: 100%;
}

th, td {
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.9);
  padding: 3px;
  font-size: 1rem;
}

th {
  background-color: rgba(54, 54, 54, 0.72);
  color: #fff;
}

td {
  background-color: #ddd;
}

.t-a-s{
  text-align: center;
}

.success{
  background: #3dc95e !important;
}
.error {
  position: relative;
}
.cross {
  display: none;
}
.error .cross{
  position: absolute;
  display: block !important;
  right: 20px;
  top: calc(50% - 10px);
}
.cross img {
  width: 10px;
  height: 10px;
}
@media(max-width:920px) {
  h1 {
    font-size: 1rem;
  }
  .info-text {
    font-size: 1rem;
    color: rgb(120, 120, 120);
  }
  footer {
    font-size: 0.7rem;
  }
}

#list ol{
  width: 100%;
  
}

#list ol li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background: #ccc;
  padding: 5px 0;
  border-radius: 3px;
}

#list ol li:not(:last-child) {
  margin-bottom: 5px;
}